#app {
  display: block;
  margin: auto;
  background-color: rgb(255, 255, 255);
  font-family: sans-serif;
  border: 2px solid rgb(6, 120, 214);
  max-width: 680px;
  min-width: 680px;
  padding: 15px;
  text-align: center;
}

header {
  font-size: 15px;
  text-align: left;
  padding-left: 10px;
  margin-bottom: 50px;
  margin-top: 5px;
}

footer {
  margin-top: 70px;
  color: var(--sec-color);
  padding-left: 10px;
}

a {
  text-decoration: none;
  color: var(--pri-color);
}

a:hover {
  color: var(--sec-color);
  font-size: 18px;
}
