.title-emoji {
  font-size: 17px;
}

#main-label {
  display: block;
  text-align: left;
  padding-left: 10px;
  font-size: 20px;
  color: var(--pri-color);
}

.city-search-box {
  margin-top: 50px;
  border: 2px solid var(--sec-color);
  background-color: var(--background-color);
  color: var(--pri-color);
  outline: none;
  margin-bottom: 20px;
}

.city-search-box:active {
  border: 3px solid var(--sec-color);
}

input:placeholder {
  color: var(--tri-color);
  text-align: right;
}

#city-search-input {
  padding: 9px;
}

.city-search-button {
  background-color: rgb(255, 255, 255);
  color: var(--pri-color);
  border: none;
  font-size: 22px;
  padding: 8px;
  margin-left: 2px;
  margin-right: 5px;
  margin-top: 3px;
}

.city-search-button:hover {
  font-size: 25px;
}
