.title-emoji {
  font-size: 31px;
}

#main-label {
  font-size: 40px;
  color: var(--pri-color);
}

.city-search-box {
  border: 1px solid var(--sec-color);
  background-color: var(--background-color);
  color: var(--pri-color);
  outline: none;
  margin-top: 20px;
}

.city-search-box {
  border: 2px solid var(--sec-color);
}

input::placeholder {
  color: var(--tri-color);
}

#city-search-input {
  padding: 8px;
}

.city-search-button {
  background-color: var(--background-color);
  color: var(--pri-color);
  border: 1px solid var(--sec-color);
  padding: 8px;
  margin-left: 3px;
  margin-top: 3px;
}

#current-location-button {
  background-color: var(--background-color);
  color: var(--pri-color);
  border: 1px solid var(--sec-color);
  padding: 8px;
  margin-top: 3px;
  margin-left: 3px;
}

.CurrentCity {
  display: block;
  margin: auto;
  border: 1px solid rgba(35, 112, 212, 0.479);
  padding: 15px;
  max-width: 60%;
  margin-top: 30px;
}

.row {
  display: flex;
}

#col-text {
  width: 70%;
  text-align: left;
  padding-left: 5px;
}

#input-city-h2,
#temp-description-h6,
#wind-speed-h6,
#city-temp-text,
#c {
  color: var(--pri-color);
  margin: 0;
}

#current-day-time-h5,
#month-day-year-h6,
#f {
  margin: 0;
  color: var(--tri-color);
}

#input-city-h2 {
  margin-top: 3px;
  margin-bottom: 15px;
  font-size: 40px;
}

#current-day-time-h5 {
  margin-bottom: 4px;
  font-size: 16px;
}

#month-day-year-h6 {
  font-size: 12px;
  margin-bottom: 10px;
}

#temp-description-h6 {
  font-size: 20px;
  margin-bottom: 4px;
}

#wind-speed-h6 {
  font-size: 14px;
  margin-bottom: 10px;
}

#col-emoji {
  width: 30%;
  text-align: center;
}

#city-temp-text {
  font-size: 40px;
}

#c,
#f {
  font-size: 20px;
  text-decoration: none;
}

#c {
  position: relative;
  top: -20px;
  left: 5px;
}

#f {
  position: relative;
  top: -20px;
  left: 11px;
}
